
.fi-business-and-finance:before { content: '\e800'; } /* '' */
.fi-card:before { content: '\e804'; } /* '' */
.fi-credit:before { content: '\e805'; } /* '' */
.fi-deactivate-card:before { content: '\e806'; } /* '' */
.fi-down-arrow:before { content: '\e807'; } /* '' */
.fi-up-arrow:before { content: '\e809'; } /* '' */
.fi-flights:before { content: '\e80a'; } /* '' */
.fi-file-storage:before { content: '\e80b'; } /* '' */
.fi-freeze-card:before { content: '\e80c'; } /* '' */
.fi-gpay:before { content: '\e80d'; } /* '' */
.fi-exchange:before { content: '\e80e'; } /* '' */
.fi-group-11889:before { content: '\e80f'; } /* '' */
.fi-home:before { content: '\e810'; } /* '' */
.fi-next:before { content: '\e813'; } /* '' */
.fi-megaphone:before { content: '\e815'; } /* '' */
.fi-pay:before { content: '\e818'; } /* '' */
.fi-pickup-car:before { content: '\e81a'; } /* '' */
.fi-payments:before { content: '\e81c'; } /* '' */
.fi-remove_red_eye:before { content: '\e81d'; } /* '' */
.fi-replace-card:before { content: '\e81e'; } /* '' */
.fi-set-spend-limit:before { content: '\e81f'; } /* '' */
.fi-visa-logo:before { content: '\e822'; } /* '' */
.fi-add:before { content: '\e823'; } /* '' */
.fi-account:before { content: '\e824'; } /* '' */
.fi-aspire-logo:before { content: '\e826'; } /* '' */
